# Django
SECRET_KEY=aqui-tu-clave-secreta
DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS / CSRF
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
USAR_HTTPS=False

# Base de datos
DB_NAME=api_ecommerce_db
DB_USER=tu-usuario-aqui
DB_PASSWORD=tu-contraseña-aqui
DB_HOST=localhost
DB_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0

# Datos de empresa para facturación
EMPRESA_RAZON_SOCIAL=Mi Empresa S.R.L.
EMPRESA_RUC=1234567-8
EMPRESA_TIMBRADO=12345678
EMPRESA_TIMBRADO_VIGENCIA_INICIO=01/01/2025
EMPRESA_TIMBRADO_VIGENCIA_FIN=31/12/2026
EMPRESA_DIRECCION=Calle Ejemplo 123, Asunción - Paraguay
EMPRESA_TELEFONO=(0981) 123 456
EMPRESA_ACTIVIDAD=Comercio electrónico
